<!DOCTYPE HTML>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>Add items</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<%- include("partials/navbar") %>
<br>

<% if (msg !== 'none') { %>
  <div class="alert alert-<%=type%>" role="alert">
    <%= msg %>
  </div>
<% } %>

<form action="" method="POST">
  <div class="form-group">
    <label for="url">Item URL</label>
    <input type="text" class="form-control" id="url" name="input" placeholder="Add the backpack.tf stats page here" required>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

</body>
</html>