<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Unofficial tf2-automatic GUI</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/scrollButton.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-async-computed@3.8.2"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<%- include("partials/navbar") %>
	<div class="container-xl pt-4 pb-4 bg-light border border-top-0 rounded-bottom" id="app">
		<div v-if="msg.enabled" class="alert" :class="['alert-' + msg.type]" role="alert">
			{{msg.text}}
			<button type="button" class="close" @click="closeMessage">
			  	<span>&times;</span>
			</button>
		</div>
		<!-- REMOVE ALL MODAL -->
		<div id="areYouSure" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="removeModalLabel">Are you sure?</h5>
						<button class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Do you want to remove items from pricelist?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-danger" @click="removeItems">Yes</button>
					</div>
				</div>
			</div>
		</div>

		<!-- PRICE MODAL -->
		<div id="priceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="priceModalLabel">{{modal.edit ? `Edit item ` : 'Add item'}}<a v-if="modal.edit" :href="modal.item.statslink" target="_blank">{{modal.item.sku}}</a></h5>
						<button class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form>
						<div class="modal-body">
						  <div class="form-row">
							<div class="col">
								<label >Name</label>
								<input class="form-control" id="pricename" name="name"  type="search" placeholder="Item name" aria-label="Search" autocomplete="off" required v-model="modal.item.name" :disabled="modal.edit" @focus="modal.searchFocus=true" @focusout="modal.searchFocus=false" @input="modal.searchDisable=false">
								

								
								<ul class="dropdown-menu search-dropdown" style="display: block; left: auto; width: 98%;" v-if="modal.searchFocus && !modal.searchDisable">
									<li class="header dropdown-item-text"  v-if="modal.item.name==''">What item are you looking for?</li>
									<li class="mini-price dropdown-item" v-for="item in itemSearch" :key="item.defindex" @mousedown="searchClick(item)"><!-- this must have mousedown event because it is fired before focusout-->
										<div class="item-mini" :style="{ backgroundImage: `url(` + item.image_small + `)`, backgroundColor: item.quality_color, borderStyle: item.craftable? false : 'dashed', borderColor: item.border_color}"><img :src="item.image_small"></div>
										<div class="item_name"> {{item.name}}</div>
									</li>
								</ul>
							</div>
						  </div>
						  <div class="form-row">
							<div class="col" id="enableddiv">
							  	<div class="pretty p-switch p-fill">
									<input type="checkbox" name="enabled" id="enabled" v-model="modal.item.enabled" :disabled="!modal.edit"/>
									<div class="state p-success">
										<label>Enabled</label>
									</div>
								</div>
							</div>
						  </div>
						  <div class="form-row" v-if="modal.item.enabled">
							<div class="col" id="autopricediv">
							  	<div class="pretty p-switch p-fill">
									<input type="checkbox" name="autoprice" id="autoprice" v-model="modal.item.autoprice" @change="setPriceToAuto(autopriceCalc)"/>
									<div class="state p-success">
										<label>Autoprice</label>
									</div>
								</div>
							</div>
						  </div>
						  <div class="form-row" v-if="modal.item.enabled&&(modal.item.intent!=1)">
							<div class="col">
							  <label>Buy keys {{(autopriceCalc.buy.keys===null||modal.item.autoprice)?'':' A: ' + autopriceCalc.buy.keys}}</label>
							  <input type="number" class="form-control" id="buykeys" name="buykeys" min="0" placeholder="Keys" required :disabled="modal.item.autoprice" v-model="modal.item.buy.keys">
							</div>
							<div class="col">
							  <label >Buy metal {{(autopriceCalc.buy.metal===null||modal.item.autoprice)?'':' A: ' + autopriceCalc.buy.metal}}</label>
							  <input type="number" class="form-control" id="buymetal" name="buymetal" min="0" placeholder="Metal" step="any" required :disabled="modal.item.autoprice" v-model="modal.item.buy.metal">
							</div>
						  </div>
						  <div class="form-row" v-if="modal.item.enabled&&(modal.item.intent!=0)">
							<div class="col">
							  <label>Sell keys {{(autopriceCalc.sell.keys===null||modal.item.autoprice)?'':' A: ' + autopriceCalc.sell.keys}}</label>
							  <input type="number" class="form-control" id="sellkeys" name="sellkeys" min="0" placeholder="Keys" required :disabled="modal.item.autoprice" v-model="modal.item.sell.keys">
							</div>
							<div class="col">
							  <label>Sell metal {{(autopriceCalc.sell.metal===null||modal.item.autoprice)?'':' A: ' + autopriceCalc.sell.metal}}</label>
							  <input type="number" class="form-control" id="sellmetal" name="sellmetal" min="0" placeholder="Metal" step="any" required :disabled="modal.item.autoprice" v-model="modal.item.sell.metal">
							</div>
						  </div>
						  <div class="form-row" v-if="modal.item.enabled">
							<div class="col" id="priceintentdiv">
							  <label>Intent</label>
							  <select name="intent" class="form-control" id="priceintent"  v-model="modal.item.intent">
								<option value="2">Bank (buy and sell)</option>
								<option value="0">Buy</option>
								<option value="1">Sell</option>
							  </select>
							</div>
							<div class="col">
							  <label>Minimum stock</label>
							  <input type="number" class="form-control" id="priceminimum" name="min" min="0" required v-model="modal.item.min">
							</div>
							<div class="col">
							  <label>Maximum stock</label>
							  <input type="number" class="form-control" id="pricemaximum" name="max" min="0" required v-model="modal.item.max">
							</div>
						  </div>
						</div>
						<div class="modal-footer">
							<button type="button" v-if="!modal.edit" class="btn btn-primary" @click="resetModal()">Clear</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary" @click.prevent="saveItem(modal.item, modal.edit, true)">Save</button>
							<button type="button" v-if="modal.edit" class="btn btn-danger" @click="deleteItem(modal.item)">Delete item</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="bulkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bulkModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="bulkModalLabel">Add items in bulk</h5>
						<button class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form>
						<div class="modal-body">
							<div class="form-group">
								<label for="url">Items</label>
								<textarea rows="5" class="form-control" id="url" name="input" placeholder="Add the backpack.tf stats page, sku, or the items name. Seperate multiple inputs by a new line. See console for speed" required v-model="bulk.input"></textarea>
							</div>
							<div class="form-row">
								<div class="col">
									  <div class="pretty p-switch p-fill">
										<input type="checkbox" name="autoprice" v-model="bulk.autoprice"/>
										<div class="state p-success">
											<label>Autoprice</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-row" v-if="!bulk.autoprice&&(bulk.intent!=1)">
								<div class="col">
									<label>Buy keys</label>
									<input type="number" class="form-control" name="buykeys" min="0" placeholder="Keys" v-model="bulk.buy.keys">
								</div>
								<div class="col">
									<label >Buy metal</label>
									<input type="number" class="form-control" name="buymetal" min="0" placeholder="Metal" step="any" v-model="bulk.buy.metal">
								</div>
							</div>
							<div class="form-row" v-if="!bulk.autoprice&&(bulk.intent!=0)">
								<div class="col">
									<label>Sell keys</label>
									<input type="number" class="form-control" name="sellkeys" min="0" placeholder="Keys" v-model="bulk.sell.keys">
								</div>
								<div class="col">
									<label>Sell metal</label>
									<input type="number" class="form-control" name="sellmetal" min="0" placeholder="Metal" step="any" v-model="bulk.sell.metal">
								</div>
							</div>
							<div class="form-row">
								<div class="col">
								  	<label for="intent">Intent</label>
								  	<select name="intent" class="form-control" id="intent" v-model="bulk.intent">
										<option selected="selected" value="2">Bank (buy and sell)</option>
										<option value="0">Buy</option>
										<option value="1">Sell</option>
								  	</select>
								</div>
								<div class="col">
								  	<label for="minimum">Minimum stock</label>
								  	<input type="number" class="form-control" id="minimum" name="min" min="0" value="0" required v-model="bulk.min">
								</div>
								<div class="col">
								  	<label for="maximum">Maximum stock</label>
								  	<input type="number" class="form-control" id="maximum" name="max" min="0" value="1" required v-model="bulk.max">
								</div>
							  </div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" @click.prevent="bulkAdd(bulk)">Add</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<ul class="nav nav-pills justify-content-between">
			<li class="nav-item">
				<div class="btn-group" v-if="!multiSelect.enabled">
					<button type="button" class="btn btn-success border-left" data-toggle="modal" data-target="#priceModal" @click="addSingle">Add Item</button>
					<button type="button" class="btn btn-primary border-right border-left" data-toggle="modal" data-target="#bulkModal" @click="bulkClear">Bulk add</button>
					<button type="button" class="btn btn-primary border-right border-left" @click="multiSelectToggle">Select multiple items</button>
					<button type="button" class="btn btn-danger border-right" data-toggle="modal" data-target="#areYouSure" @click="multiSelect.all=true">Delete all items</button>
				</div>
			</li>
			<li class="nav-item">
				<label for="sortType">Sort by:</label>
				<select name="sortType" id="sortType" v-model="sort.type">
					<option value=0>Name</option>
					<option value=1>Sell price</option>
					<option value=2>Buy price</option>
					<option value=3>Intent</option>
				</select>
				<button type="button" class="btn btn-primary p-1" @click="sort.asc = !sort.asc"> <img :src="'/images/' + (sort.asc?'ascending':'descending') + '.svg'" :alt="sort.asc?'ascending':'descending'" height="24px"></button>
			</li>
			<li class="nav-item">
				<div class="btn-group">
					<button type="button" class="btn border-right" :class="{'active': list}" @click="list=true"><img src="/images/list.svg" alt="list"></button>
					<button type="button" class="btn" :class="{'active': !list}" @click="list=false"><img src="/images/grid.svg" alt="grid"></button>
				</div>
			</li>
			<li class="nav-item">
				<input class="form-control mr-sm-2" id="searchPricelist" type="search" placeholder="Search" aria-label="Search" autocomplete="off" v-model="searchPricelist">
			</li>
		</ul>
		<div v-if="multiSelect.enabled">
			<div class="btn-group" >
				<button type="button" class="btn border-left" :class="['btn-' + ((multiSelect.list.length==0)?'dark':'danger')]" data-toggle="modal" data-target="#areYouSure":disabled="multiSelect.list.length==0" @click="multiSelect.all=false">Delete selected items</button>
				<button type="button" class="btn border-right border-left" :class="['btn-' + ((multiSelect.list.length==0)?'dark':'primary')]" :disabled="multiSelect.list.length==0" @click="multiSelect.all=false;changeEnableState(false)">Disable selected items</button>
				<button type="button" class="btn border-right border-left" :class="['btn-' + ((multiSelect.list.length==0)?'dark':'primary')]" :disabled="multiSelect.list.length==0" @click="multiSelect.all=false;changeEnableState(true)">Enable selected items</button>
				<button type="button" class="btn border-right btn-success" @click="multiSelectToggle">Cancel</button>
			</div>
			<span>
				{{multiSelect.list.length}} {{multiSelect.list.length==1? 'item': 'items'}} selected.
			</span>
		</div>
		
		<div v-if="!list" class="d-flex mt-3 flex justify-content-center flex-wrap" id="pricelist">
			<div class="item item-grid m-1" v-for="item in pricelistSorted" :key="item.sku" :style="{ backgroundImage: `url( ${item.style.image_small} ), url( ${item.style.effect} )`, backgroundColor: item.style.quality_color, borderStyle: item.style.craftable? false : 'dashed', opacity: item.enabled?1:0.5, borderColor: item.style.border_color}" @click="itemClick(item, $event)">
				<div class="info text-center font-weight-bold" v-if="!multiSelect.list.includes(item.sku)">
					{{item.name}}
				</div>
				<div class="price" v-if="!multiSelect.list.includes(item.sku)">
					B: {{item.buy.string}}<br>
					S: {{item.sell.string}}
				</div>
				<svg class="bi bi-check item-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-else>
					<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
				</svg>
				<div class="ks">
					<b>{{item.style.killstreak}}</b>
				</div>
				<svg v-if='item.intent==2' class='intent-symbol' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 489.2 489.2" style="enable-background:new 0 0 489.2 489.2;" xml:space="preserve">
					<g>
						<g>
							<path stroke-width="5%" d="M481.044,382.5c0-6.8-5.5-12.3-12.3-12.3h-418.7l73.6-73.6c4.8-4.8,4.8-12.5,0-17.3c-4.8-4.8-12.5-4.8-17.3,0l-94.5,94.5    c-4.8,4.8-4.8,12.5,0,17.3l94.5,94.5c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-73.6-73.6h418.8    C475.544,394.7,481.044,389.3,481.044,382.5z"/>
							<path stroke-width="5%" d="M477.444,98l-94.5-94.4c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l73.6,73.6h-418.8c-6.8,0-12.3,5.5-12.3,12.3    s5.5,12.3,12.3,12.3h418.8l-73.6,73.4c-4.8,4.8-4.8,12.5,0,17.3c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l94.5-94.5    C482.244,110.6,482.244,102.8,477.444,98z"/>
						</g>
					</g>
				</svg>
				<b v-else-if='item.intent==0' class='intent-symbol'>
					B
				</b>
				<b v-else-if='item.intent==1' class='intent-symbol' inte>
					S
				</b>
				<b v-if='item.autoprice' class="autoprice-symbol">
					$
				</b>
			</div>
		</div>
		<div v-else class="d-flex mt-3 flex justify-content-center flex-wrap" id="pricelist">

			<table class="table table-hover">
				<thead>
				  <tr>
					<th scope="col">SKU</th>
					<th scope="col">Autoprice</th>
					<th></th>
					<th scope="col">Name</th>
					<th scope="col">Intent</th>
					<th scope="col">Buy price</th>
					<th scope="col">Sell price</th>
					<th scope="col">Minimum stock</th>
					<th scope="col">Maximum stock</th>
				  </tr>
				</thead>
				  <tbody>
				
					<tr class="item item-list m-1" v-for="item in pricelistSorted" :key="item.sku" @click="itemClick(item, $event)">
						<td>
							<a :href="item.statslink" target="_blank" v-on:click.stop="">{{item.sku}}</a>
						</td>
						<td>
							<b :class='{disabled: !item.autoprice}' class="autoprice-symbol">
								$
							</b>
						</td>
						<td :src="item.style.img_small" width="64px" height="64px" style="background-size: contain; background-position: center; background-repeat: no-repeat;" :style="{ backgroundImage: `url( ${item.style.image_small} ), url( ${item.style.effect} )`, backgroundColor: item.style.quality_color, borderStyle: item.style.craftable? false : 'dashed', opacity: item.enabled?1:0.5, borderColor: item.style.border_color}"> 
							<svg class="bi bi-check item-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-if="multiSelect.list.includes(item.sku)">
								<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
							</svg>
						</td>
						<td>{{item.name}}</td>
						<td>{{item.intent == 2 ? "Bank" : item.intent == 1 ? "Sell" : "buy"}}</td>
						<td >{{item.buy.string}}</td>
						<td >{{item.sell.string}}</td>
						<td>{{item.min}}</td>
						<td>{{item.max}}</td>
					</tr>
				  
				  </tbody>
				  <tfoot>
					<tr>
					  <th scope="col">SKU</th>
					  <th scope="col">Autoprice</th>
					  <th></th>
					  <th scope="col">Name</th>
					  <th scope="col">Intent</th>
					  <th scope="col">Buy price</th>
					  <th scope="col">Sell price</th>
					  <th scope="col">Minimum stock</th>
					  <th scope="col">Maximum stock</th>
					</tr>
				  </tfoot>
			  </table>
		</div>
	</div>
	<button onclick="topFunction()" id="scrollBtn" title="Go to top">Top</button>
	<script src="/js/index.js"></script>
	<script src='/js/scrollButton.js'></script>
</body>
</html>