<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not allowed</title>
</head>
<body>
	<img src="/images/nope.jfif" alt="nope" height="300" style="display:inline;">
	<h1>
		User <i><%-user.displayName%></i> is not admin.
		<a href="/auth/steam">You can change account here</a>
	</h1>
</body>
</html>