<!DOCTYPE HTML>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>Pricelist</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<%- include("partials/navbar") %>

<table class="table">
    <thead>
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <% pricelist.forEach(item => { %>
            <tr>
                <td><%= item.sku %></td>
                <td><%= item.name %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

</body>
</html>