.item{
	width: 128px; 
	height: 128px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
}
.info {
    line-height: 1.2;
    position:relative;
    z-index: 1000;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color:rgba(255, 255, 255, 0.7);
	overflow-x: wrap;
	overflow-y: hidden;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.item:hover .info {
	visibility: visible;
}
.item-check {
	width: 100%;
	height: 100%;
    background-color:rgba(255, 255, 255, 0.7);
}

.search-dropdown{
    border:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
    left:0;
    margin-top:0;
    padding:0;
    right:auto;
    overflow: auto;
    max-height: 200px;
}
.search-dropdown li{
    border-top-color:#ddd;
    border-top-style:solid;
    border-top-width:1px;
    clear:both;
    padding:6px;
}
.search-dropdown li:first-child{
    border-top:0;
}
.search-dropdown li .item-name{
    line-height:14px;
    margin-top: 5px;
}
.search-dropdown li.header{
    border-bottom-width:3px;
    border-top:0;
    padding-bottom:6px;
    padding-left:9px;
    padding-right:4px;
    padding-top:6px;
}
.search-dropdown li .item-mini{
    background-color:#bbbbc2;
    border:2px solid #8e8e92;
    float:left;
    height:38px;
    margin-right:4px;
    position:relative;
    width:38px;
}
.search-dropdown li .item-mini img{
    border:0;
    height:38px;
    left:-2px;
    position:absolute;
    top:-2px;
    width:38px;
}

.dropdown-item-link {
    display: inline-block !important;
    height: 100% !important;
}
.item_name {
    margin-top: 5px;
}

.ks {
    bottom: 2px;
    left: 2px;
    position: absolute;
    z-index: 2;
}

.intent-symbol {
    top: 2px;
    left: 2px;
    position: absolute;
    z-index: 2;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.item-grid .autoprice-symbol {
    top: 2px;
    right: 2px;
    position: absolute;
    z-index: 2;
    color: #29a30e;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.item-list .autoprice-symbol {
    color: #29a30e;
}
.item-list .autoprice-symbol.disabled {
    color: #cccccc;
}
.btn.active {
    background-color: #666;
    color: white;
}
.item-list{
    width: 100%; 
    height: 64px;
}
.price {
    line-height: 1.3;
    font-size: small;
    position: absolute;
    bottom: 0;
    z-index: 1001;
	width: 100%;
	visibility: hidden;
	background-color:rgba(255, 255, 255, 0.7);
	overflow-x: wrap;
	overflow-y: hidden;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: #666;
}
.item:hover .price {
	visibility: visible;
}