.item{
	width: 128px; 
	height: 128px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	border-radius: 5px;
}
.info {
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color:rgba(255, 255, 255, 0.7);
	overflow-x: wrap;
	overflow-y: hidden;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.item:hover .info {
	visibility: visible;
}
.item-check {
	width: 100%;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.7);
}