.search-dropdown{
    border:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
    left:0;
    margin-top:0;
    padding:0;
    right:auto;
}
.search-dropdown li{
    border-top-color:#ddd;
    border-top-style:solid;
    border-top-width:1px;
    clear:both;
    padding:6px;
}
.search-dropdown li:first-child{
    border-top:0;
}
.search-dropdown li .item-name{
    line-height:14px;
    margin-top: 5px;
}
.search-dropdown li.header{
    border-bottom-width:3px;
    border-top:0;
    padding-bottom:6px;
    padding-left:9px;
    padding-right:4px;
    padding-top:6px;
}
.search-dropdown li .item-mini{
    background-color:#bbbbc2;
    border:2px solid #8e8e92;
    float:left;
    height:38px;
    margin-right:4px;
    position:relative;
    width:38px;
}
.search-dropdown li .item-mini img{
    border:0;
    height:38px;
    left:-2px;
    position:absolute;
    top:-2px;
    width:38px;
}

.dropdown-item-link {
    display: inline-block !important;
    height: 100% !important;
}
.item_name {
    margin-top: 5px;
}
